<div class="container" id="i18_link">
    <div class="row m-b-lg">
        <div class="col-lg-12 text-center">
            <div class="navy-line"></div>
            <h1><span data-i18n="link.link">Link</span></h1>
        </div>
    </div>
    <div class="row">
    {% for link in site.data.index.links %}
        {% assign loopindex = forloop.index | modulo: 3 %}
        {% if forloop.last %}
            {% if forloop.last == forloop.first %}
        <div class="col-sm-4 col-sm-offset-4 wow zoomIn">
                {% else %}
        <div class="col-sm-4 wow {% if loopindex != 0 %} col-sm-offset-4 fadeInRight {% else %} zoomIn {% endif %}">
            {% endif %}
        {% else %}
        <div class="col-sm-4 wow {% if loopindex == 1 %} fadeInLeft {% else if loopindex == 2 %} zoomIn {% else %} fadeInRight {% endif %}">
        {% endif %}
        <div class="team-member">
            <h4><span class="navy">{{ link.last_name }}</span> {{ link.first_name }}</h4>
            <p>{{ link.desc }}</p>
            <ul class="list-inline social-icon">
                <li><a href="{{ link.website }}" target="blank"><i class="fa fa-link"></i></a>
                </li>
                <!--
                <li><a href="mailto:{{ link.email }}"><i class="fa fa-envelope-o"></i></a>
                </li>
              -->
            </ul>
        </div>
        </div>
    {% endfor %}
    </div>
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2 text-center m-t-lg m-b-lg">
            <p id="jalpc_site_pv">
              <strong>
                Apache SkyWalking (incubating) is an effort undergoing incubation at The Apache Software Foundation (ASF), sponsored by Incubator.
Incubation is required of all newly accepted projects until a further review indicates
that the infrastructure, communications, and decision making process have stabilized in a manner consistent with other successful ASF projects.
While incubation status is not necessarily a reflection of the completeness or stability of the code,
it does indicate that the project has yet to be fully endorsed by the ASF.
                <br/><br/>
                Copyright &copy; 2017-2018, The Apache Software Foundation,<br/>
Apache SkyWalking, SkyWalking, Apache, the Apache feather logo, and the Apache SkyWalking project logo<br/>
                are either registered trademarks or trademarks of the Apache Software Foundation.
              </strong>
            </p>
        </div>
    </div>
</div>
