+++
title = "Apache SkyWalking"
linkTitle = "Apache SkyWalking"
+++

{{< blocks/cover title="Apache SkyWalking" image_anchor="top" height="full" color="orange" >}}
<div class="mx-auto">
	<a class="btn btn-lg btn-primary mr-3 mb-4" href="https://github.com/apache/skywalking/tree/master/docs">
		快速开始<i class="fas fa-arrow-alt-circle-right ml-2"></i>
	</a>
	<a class="btn btn-lg btn-secondary mr-3 mb-4" href="https://github.com/apache/skywalking">
	GitHub<i class="fab fa-github ml-2 "></i>
	</a>
	<p class="lead mt-5">分布式系统的应用程序性能监视工具，专为微服务、云原生架构和基于容器（Docker、Kubernetes、Mesos）架构而设计。</p>
</div>
{{< /blocks/cover >}}

<div id="overview">
  <div class="contain">
    <h2 class="section-head">什么是 SkyWalking？</h2>
    <p>
    SkyWalking 是观察性分析平台和应用性能管理系统。</br>
    提供分布式追踪、服务网格遥测分析、度量聚合和可视化一体化解决方案。</br>
    支持 Java、.Net Core、PHP、NodeJS、Golang、LUA 语言探针</br>
    支持 Envoy + Istio 构建的 Service Mesh。
    </p>
     <p>
    <img src="/images/skywalking-arch.jpg" width="" alt="Cloud Native Computing Foundation" title="Cloud Native Computing Foundation">
    </p>
  </div>
</div>

{{< blocks/section >}}
{{% blocks/feature icon="fa-question" title="想要提问？" %}}
功能请求，提问，报告 bug，请<a href="https://github.com/apache/skywalking/issues/">提交 GitHub issue</a>  或者加入 <a href="http://s.apache.org/slack-invite">Apache slack</a> 上的 SkyWalking 频道。
{{% /blocks/feature %}}


{{% blocks/feature icon="fab fa-github" title="欢迎贡献！" %}}
提交 GitHub [Pull Request](https://github.com/apache/skywalking/pulls) 来参与贡献。欢迎新人加入！
{{% /blocks/feature %}}


{{% blocks/feature icon="fab fa-twitter" title="关注我们的 Twitter！" %}}
关注 <a href="https://twitter.com/asfskywalking">@ASFSkyWalking</a> 获取我们的最新消息！
{{% /blocks/feature %}}


{{< /blocks/section >}}

<!--
{{< blocks/section >}}
<div class="col">
<h1 class="text-center">This is the second Section</h1>
</div>
{{< /blocks/section >}}
-->
