ErrorDocument 404 /404.html

<IfModule mod_headers.c>
    Header always set Content-Security-Policy "default-src 'self' https: data: 'unsafe-inline'; \
    frame-src 'self' https://www.youtube.com https://player.bilibili.com https://hcaptcha.com https://*.hcaptcha.com; \
    script-src 'self' 'unsafe-inline' 'unsafe-eval' https://*.algolianet.com https://*.algolia.net https://*.algolia.io https://api.github.com https://kapa-widget-proxy-la7dkmplpq-uc.a.run.app https://hcaptcha.com https://*.hcaptcha.com; \
    connect-src 'self' https://*.algolianet.com https://*.algolia.net https://*.algolia.io https://api.github.com https://kapa-widget-proxy-la7dkmplpq-uc.a.run.app; \
    frame-ancestors 'self'; \
    object-src 'none'; \
    upgrade-insecure-requests;"
</IfModule>
