ErrorDocument 404 /404.html

# CSP permissions for apache.skywalking.apache.org - Adding third party services Google, Netlify. Approved per https://infra.apache.org/tools/csp.html
SetEnv CSP_PROJECT_DOMAINS "https://www.google.com https://app.netlify.com"
