<div class="container" id="i18_feature">
    <div class="row">
        <div class="col-lg-12 text-center">
            <div class="navy-line"></div>
            <h1><span data-i18n="career.my_feature">Features</span></h1>
        </div>
    </div>
    <div class="row features-block">
      <div class="col-lg-12">
        <div class="col-sm-3">
          <img src="static/assets/img/features/dev.png" alt="Sass and Less support" class="img-responsive">
          <h3>Easy is Best.</h3>
          <p>- Just need JDK and Elasticsearch.<br/>
             - No need Hadoop, Hbase or Cassandra,<br/>
              which are good, but hard to deploy and maintain.</p >
        </div>
        <div class="col-sm-3">
          <img src="static/assets/img/features/stream.png" alt="Responsive across devices" class="img-responsive">
          <h3>Fast is Best.</h3>
            <p>- Analysis models are based on Streaming.<br/>
              Collector analysis and aggregates data in real time. <br/>
              - Better for alarm and UI performance.</p>
        </div>
        <div class="col-sm-3">
          <img src="static/assets/img/features/log.png" alt="Components" class="img-responsive">
          <h3>Integration and Bridge mode</h3>
          <p>- Provide <b>log4j, log4j2, logback</b> plugins for outputing tracing context (e.g. traceid).<br/>
Search logs from trace, if you have log-collect system, like ELK.<br/>
             - @Trace any method.
          </p >
        </div>
        <div class="col-sm-3">
          <img src="static/assets/img/features/global.png" alt="Components" class="img-responsive">
          <h3>Global and Open</h3>
          <p>- Working with 3-part agent by SkyWalking Trace Data Protocol.<br/>
             - Support OpenTracing-java.</p >
        </div>
      </div>
    </div>
    <div class="row">
        <div class="col-lg-12 text-center">
            <br/><br/><br/>
            <h1><span data-i18n="career.my_feature"></span></h1>
        </div>
    </div>
</div>
