<!doctype html>
<html lang="{{ .Site.Language.Lang }}" class="no-js">
<head>
    {{ partial "head.html" . }}
    <title>{{ if .IsHome }}{{ .Site.Title }}{{ else }}{{ with .Title }}{{ . }} | {{ end }}{{ .Site.Title }}{{ end }}</title>
</head>
<body class="td-{{ .Kind }} td-tags">
<header>
    {{ partial "navbar.html" . }}
</header>
<div class="container-fluid td-outer">
    <div class="td-main">
        <div class="row container container-center">
            <main class="col-12" role="main">


                <h1>Tags</h1>
                {{ $data := .Data }}
                {{ range .Data.Terms.ByCount }}
                {{ $termLink := printf "/%s/%s/" $data.Plural .Term | urlize }}
                <h2>
                    <a href="{{ $termLink }}">{{ .Term }}</a>
                </h2>
                <ul class="tags-list">
                    {{ range .Pages | first 3 }}
                    <li><a href="{{ .Permalink }}">{{ .Title }}</a></li>
                    {{ end }}
                    {{ if gt (len .Pages) 3 }}
                    <li><a href="{{ $termLink }}">Read more ……</a></li>
                    {{ end }}
                </ul>
                {{ end }}


            </main>
        </div>
    </div>
    {{ partial "footer.html" . }}
</div>
{{ partial "lightbox.html" . }}
{{ partial "sidebar-skywalking.html" . }}
{{ partial "scripts.html" . }}
</body>
</html>
