<!doctype html>
<html lang="{{ .Site.Language.Lang }}" class="no-js">
<head>
  {{ partial "head.html" . }}
  <title>{{ if .IsHome }}{{ .Site.Title }}{{ else }}{{ with .Title }}{{ . }} | {{ end }}{{ .Site.Title }}{{ end }}</title>
</head>
<body class="td-{{ .Kind }} td-downloads">
<header>
  {{ partial "navbar.html" . }}
</header>
<div class="container-fluid td-outer">
  <div class="td-main">
    <div class="container">
      <main  role="main">

        <!--<div class="card-wrapper">


          <div class="card item">
            <div class="card-body">
              <div class="title-box" >
                <span class="icon">S</span>
                <h5 class="card-title">SkyWalking APM</h5>
              </div>
&lt;!&ndash;              <p class="card-text">SkyWalking is an Observability Analysis Platform and Application Performance Management system.</p>&ndash;&gt;
              <div class="doc-box">
                <i class="fab fa-github"></i>
                <div class="btn-group">
                  <button type="button" class="btn btn-sm dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Version
                  </button>
                  <div class="dropdown-menu">
                    <h6 class="dropdown-header">v8.2.0 | Aug. 3rd, 2020</h6>
                    <div class="dropdown-item" href="#">Source code <a href="">[src] [asc] [sha512]</a></div>
                    <div class="dropdown-item" href="#">Binary Distribution <a href="">[tar] [asc] [sha512]</a></div>
                    <div class="dropdown-item" href="#">Binary Distribution for ElasticSearch 7 <a
                            href="">[tar] [asc] [sha512]</a></div>

                    <h6 class="dropdown-header">v8.1.0 | Aug. 3rd, 2020</h6>
                    <div class="dropdown-item" href="#">Source code <a href="">[src] [asc] [sha512]</a></div>
                    <div class="dropdown-item" href="#">Binary Distribution <a href="">[tar] [asc] [sha512]</a></div>
                    <div class="dropdown-item" href="#">Binary Distribution for ElasticSearch 7 <a
                            href="">[tar] [asc] [sha512]</a></div>

                  </div>

                </div>

              </div>

            </div>
          </div>
        </div>-->

          {{ block "main" . }}{{ end }}
      </main>
    </div>
  </div>
  {{ partial "footer.html" . }}
</div>
{{ partial "lightbox.html" . }}
{{ partial "sidebar-skywalking.html" . }}
{{ partial "scripts.html" . }}
</body>
</html>
