<!doctype html>
<html lang="{{ .Site.Language.Lang }}" class="no-js">
<head>
  {{ partial "head.html" . }}
  <title>{{ if .IsHome }}{{ .Site.Title }}{{ else }}{{ with .Title }}{{ . }} | {{ end }}{{ .Site.Title }}{{ end }}</title>
</head>
<body class="td-{{ .Kind }} td-docs td-downloads">
<header>
  {{ partial "navbar.html" . }}
</header>
<div class="container-fluid td-outer">
  <div class="td-main">
      <main  role="main">
          {{ block "main" . }}{{ end }}
      </main>
  </div>
  {{ partial "footer.html" . }}
</div>
{{ partial "event-popup.html" . }}
{{ partial "sidebar-skywalking.html" . }}
{{ partial "active-scripts.html" . }}
{{ partial "scripts.html" . }}
<script>
  $('.download-wrapper').on('click', function (e) {
    var label = $(e.target).data('label')
    if(label){
      ga('send', 'event', 'Download Link', 'click', label, {
        nonInteraction: true
      });
    }
  })
</script>
</body>
</html>
