+++
title = "Apache SkyWalking"
linkTitle = "Apache SkyWalking"
+++

{{< blocks/cover title="Apache SkyWalking" image_anchor="top" height="full" color="orange" >}}
<div class="mx-auto">
	<a class="btn btn-lg btn-primary mr-3 mb-4" href="https://github.com/apache/skywalking/tree/master/docs">
		Quick Start<i class="fas fa-arrow-alt-circle-right ml-2"></i>
	</a>
	<a class="btn btn-lg btn-secondary mr-3 mb-4" href="https://github.com/apache/skywalking">
	GitHub<i class="fab fa-github ml-2 "></i>
	</a>
	<p class="lead mt-5">Application performance monitor tool for distributed systems, especially designed for microservices, cloud native and container-based (Docker, Kubernetes, Mesos) architectures.</p>
</div>
{{< /blocks/cover >}}

<div id="overview" class="bg-box">
  <div class="contain">
    <h2 class="section-head">What is SkyWalking?</h2>
    <p>
    SkyWalking is an Observability Analysis Platform and Application Performance Management system.
    </p>
      <p>Provide distributed tracing, service mesh telemetry analysis, metric aggregation and visualization all-in-one solution.</p>
     <p>Java, .Net Core, PHP, NodeJS, Golang, LUA, C++ agents supported</p>
     <p>Istio + Envoy Service Mesh supported</p>
<!--    <img src="/images/skywalking-arch.jpg" width="" alt="Cloud Native Computing Foundation" title="Cloud Native Computing Foundation">-->

      <div class="swiper-container">
          <div class="swiper-wrapper">
              <div class="swiper-slide">
                  <img src="/images/skywalking-arch-920x390.jpg" class="arch" width="" alt="Cloud Native Computing Foundation" title="Cloud Native Computing Foundation">

              </div>
              <div class="swiper-slide">
                  <img src="/screenshots/8.0.0/dashboard-1.png" width="" alt="dashboard" title="dashboard">
              </div>
              <div class="swiper-slide">
                  <img src="/screenshots/8.0.0/dashboard-2.png" width="" alt="dashboard" title="dashboard">
              </div>
              <div class="swiper-slide">
                  <img src="/screenshots/8.0.0/topology.png" width="" alt="dashboard" title="dashboard">
              </div>
              <div class="swiper-slide">
                  <img src="/screenshots/6.1.0/trace.png" width="" alt="dashboard" title="dashboard">
              </div>
          </div>
          <!-- 如果需要分页器 -->
          <div class="swiper-pagination"></div>

          <!-- 如果需要导航按钮 -->
          <div class="swiper-button-prev"></div>
          <div class="swiper-button-next"></div>

      </div>
      <script>
        var mySwiper = new Swiper ('.swiper-container', {
          loop: true,
          // autoHeight: true,
          effect : 'fade',
          fadeEffect: {
            crossFade: true,
          },
          // autoplay: {
          //   delay: 3000,
          // },
          pagination: {
            el: '.swiper-pagination',
            dynamicBullets: true,
          },

          navigation: {
            nextEl: '.swiper-button-next',
            prevEl: '.swiper-button-prev',
          },

        })
      </script>
    </p>
  </div>
</div>

<!--Feature List-->
<div id="overview">
    <div class="contain feature">
        <h2 class="section-head">Feature List</h2>

        <div class="container flex-wrapper">
            <div class="home-li">
                <img src="/images/search.svg" class="pic">
                <h6 class="desc">Consistent Observability</h6>
                <span class="line"></span>
                <div class="box">
                    <p>Tracing </p>
                    <p>Metrics</p>
                    <p>Logging</p>
                    <p>Browser monitoring</p>
                </div>
            </div>


            <div class="home-li">
                <img src="/images/more.svg" class="pic">
                <h6 class="desc">Multiple Language Agents</h6>
                <span class="line"></span>
                <div class="box">
                    <p>Java </p>
                    <p>Golang</p>
                    <p>.Net Core</p>
                    <p>Python</p>
                    <p>NodeJS</p>
                    <p>C++</p>
                    <p>PHP</p>
                    <p>Lua</p>
                </div>
            </div>


            <div class="home-li">
                <img src="/images/light.svg" class="pic">
                <h6 class="desc">Lightweight</h6>
                <span class="line"></span>
                <div class="box">
                    <p>No big data stack </p>
                    <p>Adopt different scale</p>
                </div>
            </div>
            <div class="home-li">
                <img src="/images/list.svg" class="pic">
                <h6 class="desc">Modulization</h6>
                <span class="line"></span>
                <div class="box">
                    <p>Storage pluggable </p>
                    <p>Cluster cooridinator pluggable</p>
                    <p>Support pull/push transportation</p>
                </div>
            </div>


            <div class="home-li">
                <img src="/images/alarm.svg" class="pic">
                <h6 class="desc">Alarm Supported</h6>
                <span class="line"></span>
                <div class="box">
                    <p>Alarm HTTP/gRPC forwarder </p>
                    <p>Slack notification</p>
                    <p>Dingding notification</p>
                    <p>WeChat notification</p>
                    <p>Raw metrics data exporter</p>
                </div>
            </div>
            <div class="home-li">
                <img src="/images/ui.svg" class="pic">
                <h6 class="desc">Fancy Visulization</h6>
                <span class="line"></span>
                <div class="box">
                    <p>Customizable dashboard</p>
                    <p>Topology map</p>
                    <p>Trace and profile explorer</p>
                    <p>CLI dashboard</p>
                    <p>IntelliJ IDE plugin, metrics side by side with codes</p>
                </div>
            </div>
        </div>
    </div>
</div>

<!--event-->
<!-- TODO
<div id="overview" class="bg-box event">
    <div class="contain">
        <h2 class="section-head">Events &amp; News</h2>

        <div class="container flex-wrapper">

            <div class="home-event-li">
                <h5>SkyWalking Cloud on Kubernetes 0.1.0 is released</h5>
                <p class="time"> Nov. 16th, 2020</p>
                <p>OAPServer CRDs and controller.</p>
            </div>
            <div class="home-event-li">
                <h5>Welcome Jiapeng Liu as new committer</h5>
                <p class="time">  Nov. 5th, 2020</p>
                <p>Based on his continuous contributions, Jiapeng Liu (a.k.a <a href="https://github.com/evanljp">evanljp</a> has been voted as a new committer.</p>
            </div>
            <div class="home-event-li">
                <h5>SkyWalking Kubernetes Helm Chart 4.0.0 is released</h5>
                <p class="time"> Nov. 3rd, 2020</p>
                <p>Allow overriding default configurations files; Unify usages of different SkyWalking Versions.</p>
            </div>
            <div class="home-event-li">
                <h5>SkyWalking Client JS 0.1.0 is released</h5>
                <p class="time"> Oct. 30th, 2020</p>
                <p>Support Browser Side Monitoring. Require SkyWalking APM 8.2+.</p>
            </div>
        </div>
    </div>
</div>
-->

<div id="overview">
    <div class="contain">
        <h2 class="section-head">Who is using SkyWalking?</h2>
        <p>
            Various companies and organizations use SkyWalking for research, production and commercial products.
        </p>
        <img src="/images/users.png" width="" alt="SkyWalking users" title="SkyWalking users">
        <p>The <a href="https://github.com/apache/skywalking/blob/master/docs/powered-by.md">PoweredBy</a> page includes more users of the project.</p>
    </div>
</div>

{{< blocks/section >}}
{{% blocks/feature icon="fa-question" title="Any questions?" %}}
Features request, ask questions or report bugs? Feel free to <a href="https://github.com/apache/skywalking/issues/">file a issue</a> or join our <a href="http://s.apache.org/slack-invite">slack</a> workspace.
{{% /blocks/feature %}}


{{% blocks/feature icon="fab fa-github" title="Contributions welcome!" %}}
We do a [Pull Request](https://github.com/apache/skywalking/pulls) contributions workflow on **GitHub**. New users are always welcome!
{{% /blocks/feature %}}


{{% blocks/feature icon="fab fa-twitter" title="Follow us on Twitter!" %}}
For announcement of latest features etc on <a href="https://twitter.com/asfskywalking">@ASFSkyWalking</a>.
{{% /blocks/feature %}}


{{< /blocks/section >}}

<!--
{{< blocks/section >}}
<div class="col">
<h1 class="text-center">This is the second Section</h1>
</div>
{{< /blocks/section >}}
-->
