.pt-64 {
  padding-top: 64px;
}

.community-box {
  color: #909094;
  display: flex;
  justify-content: center;
  align-items: center;
  //flex-wrap: wrap;
  padding: 8px 16px 8px 8px;
  max-width: 534px;
  //height: 40px;
  margin: 60px auto 0;
  border: 1px solid #DADDE0;
  border-radius: 12px;
  font-size: 16px;

  .community {
    color: #fff;
    padding: 0 6px;
    height: 24px;
    line-height: 24px;
    left: calc(50% - 99px / 2 - 213px);
    top: calc(50% - 24px / 2);
    background: linear-gradient(101.75deg, #E7136C 0.73%, #FF9900 100.73%);
    border-radius: 8px;
  }
  .text{
    //font-size: 16px;
  }

  .mr-16 {
    margin-right: 16px;
  }
}
@media (min-width: 576px) {
  .community-box {

  }
}