/*

Add styles or override variables from the theme here.

*/

$primary: #151f35;
$secondary: #4f191de0;
$enable-gradients: true;
$enable-rounded: true;
$enable-shadows: true;

#overview, #community {
  padding: 6em 1.5em 3em 1.5em;
  text-align: center;
  margin: 0; }
  #overview p, #community p {
    font-size: 1.125em;}

#overview {
  border-bottom: 2px solid #b6d0ff;
}

#community {
  border-top: 2px solid #b6d0ff;
}

