/*

Add styles or override variables from the theme here.

*/

$primary: #3788D0;
$secondary: #4f191de0;
$enable-gradients: true;
$enable-rounded: true;
$enable-shadows: true;
$fontColor: #909094;

@media (min-width: 1660px){
  .container {
    max-width: 1440px!important;
  }
}
