<!doctype html>
<html lang="{{ partial "seo/lang.html" . }}" class="no-js">
  <head>
    {{ partial "head.html" . }}
    {{ partial "blog-topic-styles.html" . }}
  </head>
  <body class="td-{{ .Kind }} td-blog">
    <header>
      {{ partial "navbar.html" . }}
    </header>
    <div class="container-fluid td-outer">
      {{ if eq .Kind "page" }}
      {{- /* single post: keep the readable two-column layout with TOC */ -}}
      <div class="td-main">
        <div class="row container container-center">
          <main class="col-12 col-md-12 col-xl-9 pl-md-4 pr-md-4" role="main">
            {{ block "main" . }}{{ end }}
          </main>
          <div class="d-none d-xl-block col-xl-3 td-toc d-print-none">
            {{ partial "toc.html" . }}
          </div>
        </div>
      </div>
      {{ else }}
      {{- /* list: full-width card grid */ -}}
      <main class="td-main" role="main">
        {{ block "main" . }}{{ end }}
      </main>
      {{ end }}
      {{ partial "footer.html" . }}
    </div>
    {{ partial "event-popup.html" . }}
    {{ partial "lightbox.html" . }}
    {{ partial "sidebar-skywalking.html" . }}
    {{ partial "scripts.html" . }}
  </body>
</html>
