{{ $scratch := newScratch }}
{{ $scratch.Set "flag" true }}
{{ .Scratch.Set "flag" true }}

{{ range first 50 (where .Site.Pages "Section" "events")  }}
{{ if ($scratch.Get "flag")}}
{{ if .Params.endDate }}
{{ if (time .Params.endDate).After now }}

{{ $scratch.Set "flag" false}}

{{ $bg :=  .Params.img}}

<div
        class="sky-event-popup"
        style=" width: 440px"
        data-startdate="{{.Params.startDate}}"
        data-enddate="{{.Params.endDate}}"
>

    <div class="sky-pop-modal">
        <i class="fa fa-window-close"></i>

        <img
                width="100"
                height="180"
                {{if $bg}}
                src="{{$bg}}"
                {{else}}
                src="/images/popup_default.png"
                {{end}}
                class="pic"
                alt="event"
        />

        <div
                class="content-box"
                {{if $bg}}
                style=" padding-left: 10px"
                {{else}}
                style=" padding-left: 20px"
                {{end}}
        >
            <div>
                <h3 class="title">{{ .LinkTitle }}</h3>
                <p class="content-text">

                    <a href="{{.RelPermalink}}">
                        {{.Params.description}}
                    </a>
                </p>

                <a href="{{.RelPermalink}}" class="modal-btn">
                    {{if .Params.buttonText }}
                    {{ .Params.buttonText }}
                    {{else}}
                    Read more
                    {{end}}
                </a>
            </div>
        </div>
    </div>
</div>
{{ end }}
{{ end }}

{{ end }}

{{ end }}
