
{{$scratch := newScratch}}
{{$scratch.Set "flag" true}}

{{ .Scratch.Set "flag" true }}

{{ range first 100 (where .Site.Pages "Section" "events")  }}
{{if ($scratch.Get "flag")}}

{{ if .Params.endDate }}
{{ if (time .Params.endDate).After now }}

{{ $scratch.Set "flag" false}}

{{ $bg :=  .Params.background}}

<div
        class="sky-event-popup"
        {{if $bg}}
        style=" width: 440px"
        {{end}}
        data-startdate="{{.Params.startDate}}"
        data-enddate="{{.Params.endDate}}"
>

    <div class="sky-pop-modal">
        <i class="fa fa-window-close"></i>

        {{if $bg}}
        <img

                width="100"
                height="180"
                src="{{$bg}}"
                class="pic"
                alt=""
        />
        {{end}}

        <div
                class="content-box"
                {{if $bg}}
                style=" padding-left: 10px"
                {{else}}
                style=" padding-left: 20px"
                {{end}}
        >
            <h3 class="title">{{ .LinkTitle }}</h3>
            <p class="content-text">

                <a href=".RelPermalink">
                    {{ .Plain | safeHTML | truncate 200 }}
                </a>
            </p>

            <a href="{{.RelPermalink}}" class="modal-btn">
                {{if .Params.buttonName }}
                {{ .Params.buttonName }}
                {{else}}
                Read more
                {{end}}
            </a>
        </div>
    </div>
</div>
{{ end }}
{{ end }}

{{end}}

{{ end }}
