{{ $cover := .HasShortcode "blocks/cover" }}
<nav class="js-navbar-scroll navbar navbar-expand navbar-dark {{ if $cover}} td-navbar-cover {{ end }}flex-column flex-md-row td-navbar">
    <div class="sidebar-button"><svg xmlns="http://www.w3.org/2000/svg" aria-hidden="true" role="img" viewBox="0 0 448 512" class="icon"><path fill="currentColor" d="M436 124H12c-6.627 0-12-5.373-12-12V80c0-6.627 5.373-12 12-12h424c6.627 0 12 5.373 12 12v32c0 6.627-5.373 12-12 12zm0 160H12c-6.627 0-12-5.373-12-12v-32c0-6.627 5.373-12 12-12h424c6.627 0 12 5.373 12 12v32c0 6.627-5.373 12-12 12zm0 160H12c-6.627 0-12-5.373-12-12v-32c0-6.627 5.373-12 12-12h424c6.627 0 12 5.373 12 12v32c0 6.627-5.373 12-12 12z"></path></svg></div>
    <a class="navbar-brand" href="{{ .Site.Home.RelPermalink }}">
        <span class="navbar-logo">{{ if .Site.Params.ui.navbar_logo }}<img src="/images/logo.png"></span> {{ else }}
        <span class="text-uppercase font-weight-bold">{{ .Site.Title }}</span> {{ end }}
    </a>
    <div class="td-navbar-nav-scroll ml-md-auto" id="navigation">
        <ul class="navbar-nav mt-lg-0">
            {{ $p := . }} {{ range .Site.Menus.main }} {{ if .HasChildren }}
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                {{ .Name }}
              </a>
                <div class="dropdown-menu">
                    {{ range .Children }}
                    <a class="dropdown-item" href="{{ .URL | relLangURL }}">{{ .Name }}</a> {{ end }}
                </div>
            </li>
            {{ else }}
            <!--
            <li class="nav-item">
                <a class="nav-link" href="{{ .URL | relLangURL }}">{{ .Name }}</a>
            </li>
            -->
            <li class="nav-item mr-3 mb-2 mb-lg-0">
				{{ $active := or ($p.IsMenuCurrent "main" .) ($p.HasMenuCurrent "main" .) }}
				{{ with .Page }}
				{{ $active = or $active ( $.IsDescendant .)  }}
				{{ end }}
				{{ $url := urls.Parse .URL }}
				{{ $baseurl := urls.Parse $.Site.Params.Baseurl }}
				<a class="nav-link{{if $active }} active{{end}}" href="{{ with .Page }}{{ .RelPermalink }}{{ else }}{{ .URL | relLangURL }}{{ end }}" {{ if ne $url.Host $baseurl.Host }}target="_blank" {{ end }}><span{{if $active }} class="active"{{end}}>{{ .Name }}</span></a>
			</li>
            {{ end }} {{ end }}
            {{ if  .Site.Params.versions }}
			<li class="nav-item dropdown d-none d-lg-block">
				{{ partial "navbar-version-selector.html" . }}
			</li>
			{{ end }}
			{{ if  (gt (len .Site.Home.Translations) 0) }}
			<li class="nav-item dropdown d-none d-lg-block">
				{{ partial "navbar-lang-selector.html" . }}
			</li>
			{{ end }}
        </ul>
    </div>
    <div class="navbar-nav d-none d-lg-block search-input-box">{{ partial "search-input.html" . }}</div>
</nav>
