<script src="/js/bootstrap.bundle.min.js"></script>
{{ if .Site.Params.algolia_docsearch }}
<script src="https://cdn.jsdelivr.net/npm/@docsearch/js@3"></script>
{{ end }}
{{ $jsAnchor := resources.Get "js/anchor.js" }}
{{ $jsLightbox := resources.Get "js/lightbox.js" }}
{{ $jsSlider := resources.Get "js/slider.js" }}
{{ $algolia := resources.Get "js/algolia-search.js" }}
{{ $event := resources.Get "js/event-popup.js" }}
{{ $js := (slice $jsAnchor $jsLightbox $jsSlider $algolia $event) | resources.Concat "js/main.js" }}
{{ if .Site.IsServer }}
<script src="{{ $js.RelPermalink }}"></script>
{{ else }}
{{ $js := $js | minify | fingerprint }}
<script src="{{ $js.RelPermalink }}" integrity="{{ $js.Data.Integrity }}" crossorigin="anonymous"></script>
{{ end }}

<script src="/js/highlight.min.js"></script>
<script src="/js/mermaid.min.js"></script>
<script>
    window.onload = () => mermaid.init(undefined, ".language-mermaid");
</script>
<script>
  document.addEventListener('DOMContentLoaded', () => {
    document.querySelectorAll('pre code.language-json5').forEach((block) => {
      if (block.classList.contains('language-json5')) {
        try {
          hljs.registerLanguage('json5', function(hljs) {
            return hljs.getLanguage('json');
          });
          hljs.highlightElement(block);
        } catch (error) {
          console.error("Error parsing JSON5:", error);
        }
      }
    });
  });
</script>

{{ partial "hooks/body-end.html" . }}
