<script>
  $(function () {
    arrowClick();
    initArch();

    function arrowClick() {
      $('.icon-arrow').click(function () {
        $('html,body').animate({scrollTop: $("#introduction").offset().top - 100}, 400)
      });
    }

    function initArch() {
      new Swiper('.arch-swiper-container', {
        loop: true,
        effect: 'fade',
        fadeEffect: {
          crossFade: true,
        },
        autoplay: {
          delay: 5000,
        },
        pagination: {
          el: '.arch-swiper-pagination',
          dynamicBullets: true,
        },

        navigation: {
          nextEl: '.arch-swiper-button-next',
          prevEl: '.arch-swiper-button-prev',
        },

      });
    }

  })
</script>
