<script src="/js/bootstrap.bundle.min.js"></script>
{{ if .Site.Params.algolia_docsearch }}
<script src="https://cdn.jsdelivr.net/npm/@docsearch/js@3"></script>
{{ end }}
{{ $jsAnchor := resources.Get "js/anchor.js" }}
{{ $jsLightbox := resources.Get "js/lightbox.js" }}
{{ $jsSlider := resources.Get "js/slider.js" }}
{{ $algolia := resources.Get "js/algolia-search.js" }}
{{ $event := resources.Get "js/event-popup.js" }}
{{ $js := (slice $jsAnchor $jsLightbox $jsSlider $algolia $event) | resources.Concat "js/main.js" }}
{{ if .Site.IsServer }}
<script src="{{ $js.RelPermalink }}"></script>
{{ else }}
{{ $js := $js | minify | fingerprint }}
<script src="{{ $js.RelPermalink }}" integrity="{{ $js.Data.Integrity }}" crossorigin="anonymous"></script>
{{ end }}

<script src="/js/highlight.min.js"></script>
<script src="/js/mermaid.min.js"></script>
<script>
    window.onload = () => mermaid.init(undefined, ".language-mermaid");
</script>
<script>
  document.addEventListener('DOMContentLoaded', () => {
    document.querySelectorAll('pre code.language-json5').forEach((block) => {
      if (block.classList.contains('language-json5')) {
        try {
          hljs.registerLanguage('json5', function(hljs) {
            return hljs.getLanguage('json');
          });
          hljs.highlightElement(block);
        } catch (error) {
          console.error("Error parsing JSON5:", error);
        }
      }
    });
  });
</script>

<!--Note the 200px position-botton is to leave room for website event popups -->
<script defer
src="https://widget.kapa.ai/kapa-widget.bundle.js"
data-website-id="8a08392b-9c4d-4816-8bc4-f93e0ecdd2a7"
data-project-name="SkyWalking"
data-project-color="#2B74B8"
data-button-text="Ask AI"
data-search-mode-enabled="true"
data-modal-open-on-command-k="true"
data-modal-disclaimer="The AI supports multiple languages, but it may not be accessible in China, a proxy is required."
data-project-logo="https://miro.medium.com/v2/resize:fit:2400/0*kmS-5BQ8ShAhZ_F4.jpg"
data-modal-example-questions="What is Apache SkyWalking?,How to deploy SkyWalking?,How to inject agents non-intrusively?,How to setup trace sampling?"
data-button-position-top=""
data-button-position-right="20px"
data-button-position-bottom="200px"
data-button-position-left=""
></script>
{{ partial "hooks/body-end.html" . }}
