<!--script-search.html-->
<script>
  $(function () {
    var params = new URLSearchParams(window.location.search);
    var contributor = params.get('contributor');
    if(!contributor) {
      $('.search-tips').text('No data')
      return;
    }
    var ele = $("." + contributor)
    if (ele.length > 0) {
      const contributor = ele.first().clone();
      $('.current-contributor').html(contributor);
      $(contributor).fadeIn();
      ele.show().parents('.item-wrapper').addClass('show');
      $.each($('.contributors-wrapper .item-wrapper'), (index, item) => {
        if (!$(item).hasClass('show')) {
          $(item).remove();
        }
      })
      $('.search-tips').hide();
    } else {
      $('.search-tips').text('No data')
    }
  })
</script>
