
<ul class="sidebar-menu">
    {{ range .catalog }}

    <li>
        {{if .catalog}}

            {{if .path}}
            <a href="{{ .path }}">{{ .name }}<i class="fa fa-angle-left pull-right"></i></a>
            {{else}}
            <a href="#">{{ .name }}<i class="fa fa-angle-left pull-right"></i></a>
            {{end}}

            {{ partial "sidebar-submenu.html" . }}
        {{else}}
            <a href="{{ .path }}">{{ .name }}</a>
        {{end}}
    </li>

    {{ end }}

</ul>

<!--<ul class="sidebar-submenu">-->
<!--    <li><a href="#"><i class="fa fa-circle-o"></i> Level One</a></li>-->
<!--    <li>-->
<!--        <a href="#"><i class="fa fa-circle-o"></i> Level One <i class="fa fa-angle-left pull-right"></i></a>-->
<!--        <ul class="sidebar-submenu">-->
<!--            <li><a href="#"><i class="fa fa-circle-o"></i> Level Two</a></li>-->
<!--            <li>-->
<!--                <a href="#"><i class="fa fa-circle-o"></i> Level Two <i class="fa fa-angle-left pull-right"></i></a>-->
<!--                <ul class="sidebar-submenu">-->
<!--                    <li><a href="#"><i class="fa fa-circle-o"></i> Level Three</a></li>-->
<!--                    <li><a href="#"><i class="fa fa-circle-o"></i> Level Three</a></li>-->
<!--                    <li>-->
<!--                        <a href="#"><i class="fa fa-circle-o"></i> Level Two <i class="fa fa-angle-left pull-right"></i></a>-->
<!--                    </li>-->
<!--                </ul>-->
<!--            </li>-->
<!--        </ul>-->
<!--    </li>-->
<!--    <li><a href="#"><i class="fa fa-circle-o"></i> Level One</a></li>-->
<!--</ul>-->