<div class="sidebar-mask"></div>
<div class="sidebar">
    <nav class="nav-links">
        <div class="nav-item"><a href="/docs/" class="nav-link">Projects and Documentation</a></div>
        <div class="nav-item"><a href="/events/" class="nav-link">Events</a></div>
        <div class="nav-item"><a href="/blog/" class="nav-link router-link-exact-active router-link-active">Blog</a>
        </div>
        <div class="nav-item"><a href="/downloads/" class="nav-link">Downloads</a></div>
        <div class="nav-item"><a href="/team/" class="nav-link">Team</a></div>
        <div class="nav-item"><a href="/zh/" class="nav-link">中文博客</a></div>
        <div class="nav-item">
            <div class="dropdown-wrapper open"><a class="dropdown-title"><span class="title">Links</span> <span
                    class="arrow down"></span></a>
                <ul class="nav-dropdown" style="">
                    <li class="dropdown-item">
                        <a href="http://www.apache.org/" target="_blank"
                           rel="noopener noreferrer" class="nav-link external">
                            Apache Software Foundation
                        </a>
                    </li>
                    <li class="dropdown-item">
                        <a href="https://github.com/apache/skywalking/issues"
                           target="_blank" rel="noopener noreferrer"
                           class="nav-link external">
                            GitHub Issue Tracker
                        </a>
                    </li>
                    <li class="dropdown-item">
                        <a href="https://lists.apache.org/list.html?dev@skywalking.apache.org" target="_blank"
                           rel="noopener noreferrer" class="nav-link external">
                            Dev Mailing List
                        </a>
                    </li>
                    <li class="dropdown-item">
                        <a href="http://www.apache.org/licenses/" target="_blank"
                           rel="noopener noreferrer" class="nav-link external">
                            License
                        </a>
                    </li>
                    <li class="dropdown-item">
                        <a href="http://www.apache.org/events/current-event"
                           target="_blank" rel="noopener noreferrer"
                           class="nav-link external">
                            Apache Events
                        </a>
                    </li>
                    <li class="dropdown-item">
                        <a href="http://www.apache.org/security/" target="_blank"
                           rel="noopener noreferrer" class="nav-link external">
                            Security
                        </a>
                    </li>
                    <li class="dropdown-item">
                        <a href="http://www.apache.org/foundation/sponsorship.html"
                           target="_blank" rel="noopener noreferrer"
                           class="nav-link external">
                            Sponsorship and Donate
                        </a>
                    </li>
                    <li class="dropdown-item">
                        <a href="http://www.apache.org/foundation/thanks.html"
                           target="_blank" rel="noopener noreferrer"
                           class="nav-link external">
                            Thanks
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</div>
