<!doctype html>
<html lang="{{ .Site.Language.Lang }}" class="no-js">
  <head>
    {{ partial "head.html" . }}
    <title>{{ if .IsHome }}{{ .Site.Title }}{{ else }}{{ with .Title }}{{ . }} | {{ end }}{{ .Site.Title }}{{ end }}</title>
  </head>
  <body class="td-{{ .Kind }} td-blog">
    <header>
      {{ partial "navbar.html" . }}
    </header>
    <div class="container-fluid td-outer">
      <div class="td-main">
        <div class="row container container-center">
          <main class="col-12 col-md-12 col-xl-10 pl-md-4 pr-md-4" role="main">
            {{ block "main" . }}{{ end }}
          </main>
          <div class="toc d-none d-xl-block d-md-none col-xl-2 td-toc d-print-none">
            {{ partial "tags-zh.html" . }}
            {{ partial "toc.html" . }}

          </div>
        </div>
      </div>
      {{ partial "footer.html" . }}
    </div>
    {{ partial "lightbox.html" . }}
    {{ partial "sidebar-skywalking.html" . }}
    {{ partial "scripts.html" . }}
  </body>
</html>
