<div class="td-content">
	<h1>{{ .Title }}</h1>
	{{ with .Params.description }}<div class="lead">{{ . | markdownify }}</div>{{ end }}
	<div class="td-byline mb-4">
		{{ with .Params.author }}{{ T "post_byline_by" }} <b>{{ . | markdownify }}</b> |{{ end}}
		<time datetime="{{  $.Date.Format "2006-01-02" }}" class="text-muted">{{ $.Date.Format $.Site.Params.time_format_blog  }}</time>

	    {{ with .Params.zh_tags }}
		<p class="mt-1 tags-box">
			<i class="fas fa-tags" aria-hidden="true"></i>Tags |
			{{ range . }}
			<span> <a href="{{ "zh_tags" | absURL }}/{{ . | urlize }}">{{ . }}</a></span>
			{{ end }}
		</p>
		{{ end }}

	</div>
	{{ .Content }}
	{{ if (.Site.DisqusShortname) }}
		<br />
		{{ partial "disqus-comment.html" . }}
		<br />
	{{ end }}

	{{ partial "pager.html" . }}
</div>
