<!doctype html>
<html lang="{{ partial "seo/lang.html" . }}" class="no-js">
<head>
  {{ partial "head.html" . }}
</head>
<body class="td-{{ .Kind }} td-downloads">
<header>
  {{ partial "navbar.html" . }}
</header>
<div class="container-fluid td-outer">
  <main class="td-main" role="main">
    {{ block "main" . }}{{ end }}
  </main>
  {{ partial "footer.html" . }}
</div>
{{ partial "event-popup.html" . }}
{{ partial "sidebar-skywalking.html" . }}
{{ partial "active-scripts.html" . }}
{{ partial "scripts.html" . }}
<script>
  $('.download-wrapper').on('click', function (e) {
    var label = $(e.target).data('label')
    if (label) {
      if (window.ga) { ga('send', 'event', 'Download Link', 'click', label, { nonInteraction: true }); }
      if (window.gtag) { gtag('event', 'click', { 'event_category': 'download_click', 'event_label': label, 'non_interaction': true }); }
    }
  })
</script>
{{ partial "card-permalink.html" . }}
</body>
</html>
