{{ .Inner | markdownify}}

<!--
<div class="events-wrapper flex-wrapper">
    {{ range first 4 (where .Site.Pages "Section" "events") }}
        <div class="">
            <h5 class="mt-0 mb-1"><a href="{{ .RelPermalink }}">{{ .LinkTitle }}</a></h5>
            <span class="date">{{ .Date.Format "Mon, Jan 2, 2006" }}</span>
            <p class="pt-0 mt-0">{{ .Plain | safeHTML | truncate 150 }}</p>
            &lt;!&ndash;        <p class="pt-0 mt-0">{{ .Description }}</p>&ndash;&gt;
            <p class="pt-0"><a href="{{ .RelPermalink }}">{{ T "ui_read_more"}}</a></p>
        </div>

    {{ end }}
</div>
-->

<style>
    .fr{
        float: right;
    }
</style>


{{ range first 4 (where .Site.Pages "Section" "events") }}
<!--
    <h5 class="mt-0 mb-1"><a href="{{ .RelPermalink }}">{{ .LinkTitle }}</a></h5>
    <span class="date">{{ .Date.Format "Mon, Jan 2, 2006" }}</span>
    <p class="pt-0 mt-0">{{ .Plain | safeHTML | truncate 150 }}</p>
    &lt;!&ndash;        <p class="pt-0 mt-0">{{ .Description }}</p>&ndash;&gt;
    <p class="pt-0"><a href="{{ .RelPermalink }}">{{ T "ui_read_more"}}</a></p>


-->

    <div class="home-event-li">
        <h5 class="mt-0 mb-1"><a href="{{ .RelPermalink }}">{{ .LinkTitle }}</a></h5>
        <span class="time">{{ .Date.Format "Mon, Jan 2, 2006" }}</span>
        <p>{{ .Plain | safeHTML | truncate 100 }}</p>
<!--        <span  class="pt-0 fr"><a href="{{ .RelPermalink }}">{{ T "ui_read_more"}}</a></span>-->
    </div>

{{ end }}



<!-- TODO
<div id="overview" class="bg-box event">
    <div class="contain">
        <h2 class="section-head">Events &amp; News</h2>

        <div class="container flex-wrapper">

            <div class="home-event-li">
                <h5>SkyWalking Cloud on Kubernetes 0.1.0 is released</h5>
                <p class="time"> Nov. 16th, 2020</p>
                <p>OAPServer CRDs and controller.</p>
            </div>
            <div class="home-event-li">
                <h5>Welcome Jiapeng Liu as new committer</h5>
                <p class="time">  Nov. 5th, 2020</p>
                <p>Based on his continuous contributions, Jiapeng Liu (a.k.a <a href="https://github.com/evanljp">evanljp</a> has been voted as a new committer.</p>
            </div>
            <div class="home-event-li">
                <h5>SkyWalking Kubernetes Helm Chart 4.0.0 is released</h5>
                <p class="time"> Nov. 3rd, 2020</p>
                <p>Allow overriding default configurations files; Unify usages of different SkyWalking Versions.</p>
            </div>
            <div class="home-event-li">
                <h5>SkyWalking Client JS 0.1.0 is released</h5>
                <p class="time"> Oct. 30th, 2020</p>
                <p>Support Browser Side Monitoring. Require SkyWalking APM 8.2+.</p>
            </div>
        </div>
    </div>
</div>
-->
