{{ .Inner | markdownify}}

{{ range first 3 (where .Site.Pages "Section" "events") }}
<li>
  <a href="{{ .RelPermalink }}">
    <h5 class="mt-0 mb-1">{{ .LinkTitle }}</h5>
    <span class="date">{{ .Date.Format "Mon, Jan 2, 2006" }}</span>
    <p class="txt">{{ .Plain | safeHTML | truncate 100 }}</p>
  </a>
</li>
{{ end }}

{{ range first 3 (where .Site.Pages "Section" "blog") }}
<li>
  <a href="{{ .RelPermalink }}">
    <h5 class="mt-0 mb-1">{{ .LinkTitle }}</h5>
    <span class="date">{{ .Date.Format "Mon, Jan 2, 2006" }}</span>
    <p class="txt">{{ .Plain | safeHTML | truncate 100 }}</p>
  </a>
</li>
{{ end }}


