{{ .Inner | markdownify}}

{{ range first 4 (where .Site.Pages "Section" "events") }}

    <div class="home-event-li">
        <h5 class="mt-0 mb-1"><a href="{{ .RelPermalink }}">{{ .LinkTitle }}</a></h5>
        <span class="time">{{ .Date.Format "Mon, Jan 2, 2006" }}</span>
        <p>{{ .Plain | safeHTML | truncate 100 }}</p>
    </div>

{{ end }}




{{$scratch := newScratch}}
{{$scratch.Set "flag" true}}
{{$scratch.Get "flag" }}


{{ .Scratch.Set "flag" true }}

{{ range first 100 (where .Site.Pages "Section" "events")  }}
{{if ($scratch.Get "flag")}}


{{ if .Params.endDate }}
{{ if (time .Params.endDate).After now }}
<div>
    99999
    {{ $scratch.Set "flag" false}}

    <br>
    {{ .Params.endDate }}

    {{ .PublishDate }}

</div>
{{ end }}
{{ end }}

{{end}}

{{ end }}