<div id="swiper-user-wrapper">
    {{ .Inner | markdownify}}

    {{ range .Site.Data.homepage.users }}
    <div class="swiper-container-user container" id="{{.id}}">
        <div class="swiper-wrapper">
            {{ range .list }}
            <div class="swiper-slide" style="background-image:url('{{.logo}}')"></div>
            {{end}}
        </div>
    </div>
    {{end}}
</div>
<script type="text/javascript">
  $(function () {
    var speed = 3000;
    var baseConf = {
      loop: true,
      freeMode: true,
      slidesPerView: 'auto',
      slidesPerGroup: 1,

      speed: speed,
      grabCursor: true,
      autoplay: {
        delay: 1,
        disableOnInteraction: false,
      },
      on: {
        touchEnd: function () {
          var that = this;
          setTimeout(function () {
            that.autoplay.run();
          }, 1000)
        },
      }
    };

    $('.swiper-container-user').each(function (index, item) {
      speed = index ? (speed * 1.3) : speed;
      new Swiper('#' + $(item).attr('id'), Object.assign(baseConf, {speed: speed,}));
    })
  });

</script>
