<!--{{ $icon := .Get "icon" | default "fa-lightbulb" }}-->
<!--{{ $url_text := .Get "url_text" }}-->

<style type="text/css">


  .swiper-container2 {
    width: 43.75rem;
    width: 100%;
    height: 60px;
    margin: 0 auto;
  }
  .swiper-container-free-mode > .swiper-wrapper {
    transition-timing-function: linear;
  }
 #case4 .swiper-slide,#case3 .swiper-slide{
    width: 120px;
    height: 40px;
   margin:0 10px;
   background-repeat: no-repeat;
   background-size: contain;
   background-position: center;
  }
</style>
<div class="">
  {{ .Inner | markdownify}}


  <div class="swiper-container2" id="case4">
    <div class="swiper-wrapper">
      {{ range .Site.Data.users }}

      <div class="swiper-slide" style="background-image:url('{{.logo}}')">
      </div>

      {{end}}
    </div>

  </div>
  <div class="swiper-container2" id="case3">
    <div class="swiper-wrapper">
      {{ range .Site.Data.users }}

      <div class="swiper-slide" style="background-image:url('{{.logo}}')">
      </div>

      {{end}}
    </div>

  </div>
</div>
  <script type="text/javascript">
          $(function () {
            var swiper4 = new Swiper("#case4", {
              loop: true, //允许从第一张到最后一张，或者从最后一张到第一张  循环属性
              slidesPerView: 6, // 设置显示三张
              //centeredSlides : true,     //使当前图片居中显示
              freeMode: true, // 使幻灯片滑动时不止滑动一格，且不会自动贴合
              slidesPerGroup: 4, //定义1张图片为一组
              speed: 130000, //设置过度时间
              grabCursor: true, //鼠标样式根据浏览器不同而定
              autoplay: {
                delay: 1,
                disableOnInteraction: false,
              }
            });
          });
          $(function () {
            var swiper3 = new Swiper("#case3", {
              loop: true, //允许从第一张到最后一张，或者从最后一张到第一张  循环属性
              slidesPerView: 6, // 设置显示三张
              //centeredSlides : true,     //使当前图片居中显示
              freeMode: true, // 使幻灯片滑动时不止滑动一格，且不会自动贴合
              slidesPerGroup: 4, //定义1张图片为一组
              speed: 200000, //设置过度时间
              grabCursor: true, //鼠标样式根据浏览器不同而定
              autoplay: {
                delay: 1,
                disableOnInteraction: false,
              }
            });
          });
</script>
