<div class="user-swiper-container-wrapper">
    {{ .Inner | markdownify}}

    <div class="swiper-container user-swiper-container container">
        <div class="swiper-wrapper ">
            {{ range .Site.Data.homepage.users }}
            <div class="swiper-slide">
                <a href="{{.website }}" target="_blank">
                <img data-src="{{.logo}}" class="swiper-lazy" data-nolightbox="true">
                </a>
                <div class="swiper-lazy-preloader"></div>
            </div>
            {{end}}
        </div>

        <div class="swiper-pagination user-swiper-pagination"></div>

    </div>
    <div class="swiper-button-prev user-swiper-button-prev"></div>
    <div class="swiper-button-next user-swiper-button-next"></div>
</div>

