{{- /* CN counterpart of blog/content.html. */ -}}
<div class="td-content">
  <h1>{{ .Title }}</h1>
  {{ with .Params.description }}<div class="lead">{{ . | markdownify }}</div>{{ end }}
  <div class="td-byline mb-3">
    {{ with .Params.author }}{{ T "post_byline_by" }} <b>{{ . | markdownify }}</b> |{{ end }}
    <time datetime="{{ $.Date.Format "2006-01-02" }}" class="text-muted">{{ $.Date.Format $.Site.Params.time_format_blog }}</time>
  </div>
  {{ with .Params.tags }}
  <div class="post-tags-list post-tags-list--inline">
    {{ range . }}
    <a class="blog-label" data-label="{{ . }}" href="{{ printf "/tags/%s/" (. | urlize) | relLangURL }}">{{ . }}</a>
    {{ end }}
  </div>
  {{ end }}
  {{ .Content }}
  {{ if (.Site.Config.Services.Disqus.Shortname) }}
    <br />
    {{ partial "disqus-comment.html" . }}
    <br />
  {{ end }}
  {{ partial "pager.html" . }}
</div>
