{{- /* Adapt project catalogs for the legacy docs layout and canonical URL map. */ -}}
{{- $groups := slice -}}
{{- with (index .Data "get-started").showcase -}}
  {{- $project := merge . (dict "docs" (partial "project-doc-versions.html" .)) -}}
  {{- $groups = $groups | append (dict "type" "Quick Start" "buttonText" "Showcase" "list" (slice $project)) -}}
{{- end -}}
{{- range .Data.projects.catalogs -}}
  {{- $projects := slice -}}
  {{- with .note -}}
    {{- $projects = $projects | append (dict "descriptionItem" .) -}}
  {{- end -}}
  {{- range .projects -}}
    {{- $projects = $projects | append (merge . (dict "docs" (partial "project-doc-versions.html" .))) -}}
  {{- end -}}
  {{- $groups = $groups | append (dict "type" .name "buttonText" .id "description" (.description | default "") "list" $projects) -}}
{{- end -}}
{{- return $groups -}}
