{{- $targets := dict "Foundations" "/downloads/#SkyWalkingServers" "Agents" "/downloads/#Agents" "Operation" "/downloads/#Operation" "Database" "/downloads/#Database" "Tools" "/downloads/#Tools" "Supporttoolsfordevelopmentandtesting" "/downloads/#Tools" "ArchivedReleases" "/downloads/#Archived" "DockerImages" "/downloads/#skywalking" -}}
{{- range partialCached "project-catalog-data.html" .Site -}}
  {{- $target := printf "/downloads/#%s" .project.repo -}}
  {{- range .project.downloadAliases }}{{ $targets = merge $targets (dict . $target) }}{{ end -}}
{{- end -}}
{{- return $targets -}}
