{{- /* Shortcuts open catalog cards; doc prefixes identify the project being read. */ -}}
{{- $projects := dict -}}
{{- range partialCached "project-catalog-data.html" . -}}
  {{- $project := .project -}}
  {{- $prefix := "" -}}
  {{- with .primary.link -}}
    {{- if hasPrefix . "/docs/" }}{{ $prefix = replaceRE `^(/docs/[^/]+/).*$` "$1" . }}{{ end -}}
  {{- end -}}
  {{- $catalogLink := printf "/docs/#%s" (replaceRE `[ ()]` "" $project.name) -}}
  {{- $projects = merge $projects (dict $project.repo (dict "name" $project.name "icon" $project.icon "link" $catalogLink "prefix" $prefix)) -}}
{{- end -}}
{{- return $projects -}}
