<section class="dh-shell project-download-help" id="verify-downloads">
  <p>Looking for an older version? Browse the <a href="https://archive.apache.org/dist/skywalking/">release archive</a> or <a href="https://archive.apache.org/dist/incubator/skywalking/">incubating release archive</a>.</p>
  <details>
    <summary>Verify downloads</summary>
    <div class="project-verification-body">
      <p>Use the PGP signature or SHA512 checksum provided with each release to verify your download. Download the <a href="https://downloads.apache.org/skywalking/KEYS">Apache SkyWalking KEYS</a> file to verify signatures.</p>
      <div>
        <section><h3>PGP signature</h3><pre><code>gpg --import KEYS
gpg --verify apache-skywalking-apm-VERSION-src.tar.gz.asc apache-skywalking-apm-VERSION-src.tar.gz</code></pre></section>
        <section><h3>SHA512 checksum</h3><pre><code>shasum -a 512 apache-skywalking-apm-VERSION-src.tar.gz</code></pre><p>Compare the result with the downloaded <code>.sha512</code> file.</p></section>
      </div>
    </div>
  </details>
</section>
