{{- /* Adapt a project's development docs and releases to the flat docs list.
       Latest and numbered documentation can intentionally pin different commits. */ -}}
{{- $versions := slice -}}
{{- with .next -}}
  {{- with .docs -}}
    {{- $version := dict "version" "Next" "link" .link -}}
    {{- with .commitId }}{{ $version = merge $version (dict "commitId" .) }}{{ end -}}
    {{- with .label }}{{ $version = merge $version (dict "versionName" .) }}{{ end -}}
    {{- $versions = $versions | append $version -}}
  {{- end -}}
{{- end -}}
{{- range .releases -}}
  {{- $release := . -}}
  {{- with .docs -}}
    {{- if and $release.latest .latestLink -}}
      {{- $latest := dict "version" "Latest" "link" .latestLink -}}
      {{- with .latestCommitId }}{{ $latest = merge $latest (dict "commitId" .) }}{{ end -}}
      {{- $versions = $versions | append $latest -}}
    {{- end -}}
    {{- $version := dict "version" $release.version "link" .link -}}
    {{- with .commitId }}{{ $version = merge $version (dict "commitId" .) }}{{ end -}}
    {{- with .label }}{{ $version = merge $version (dict "versionName" .) }}{{ end -}}
    {{- $versions = $versions | append $version -}}
  {{- end -}}
{{- end -}}
{{- return $versions -}}
