{{- /* Adapt a project's development docs and releases to the flat docs list.
       Latest is the release marked latest, served at its own URL from the same
       commit, so the two never drift apart. */ -}}
{{- $versions := slice -}}
{{- $latestLink := "" -}}
{{- with .docs -}}
  {{- $latestLink = default "" .latest -}}
  {{- $version := dict "version" "Next" "link" .link -}}
  {{- with .commitId }}{{ $version = merge $version (dict "commitId" .) }}{{ end -}}
  {{- with .label }}{{ $version = merge $version (dict "versionName" .) }}{{ end -}}
  {{- $versions = $versions | append $version -}}
{{- end -}}
{{- range .releases -}}
  {{- $release := . -}}
  {{- with .docs -}}
    {{- if and $release.latest (ne $latestLink "") -}}
      {{- $latest := dict "version" "Latest" "link" $latestLink -}}
      {{- with .commitId }}{{ $latest = merge $latest (dict "commitId" .) }}{{ end -}}
      {{- $versions = $versions | append $latest -}}
    {{- end -}}
    {{- $version := dict "version" $release.version "link" .link -}}
    {{- with .commitId }}{{ $version = merge $version (dict "commitId" .) }}{{ end -}}
    {{- with .label }}{{ $version = merge $version (dict "versionName" .) }}{{ end -}}
    {{- $versions = $versions | append $version -}}
  {{- end -}}
{{- end -}}
{{- return $versions -}}
