// Blog related styles.

.td-blog {
    .td-rss-button {
        position: absolute;
        top: 5.5rem;
        right: 1rem;
        z-index: 22;
    }

    .td-main{
        main{
            padding-right: 0;
            padding-left: 0;
        }
    }
    .td-content p code {
        word-break:break-word!important;
    }


}
.tags-box{
    span{
        &:after{
            content: ', ';
            color: #888;
        }
        &:last-child:after{
            content: '';
        }
    }
    .fa-tags {
        font-size: 12px;
        font-weight: normal;
        padding-right: 0.15rem ;
    }
    .dn{
        display: none;
    }

}
