// Blog related styles.

.td-blog {
  .td-rss-button {
    position: absolute;
    top: 5.5rem;
    right: 1rem;
    z-index: 22;
  }

  .td-main {
    main {
      padding-right: 0;
      padding-left: 0;
    }
  }

  .td-content p code {
    word-break: break-word !important;
  }


}

.tags-wrapper {
  padding-left: 15px;
  padding-right: 15px;
}

.tags-box {
  span {
    &:after {
      content: ', ';
      color: #888;
    }

    &:last-child:after {
      content: '';
    }
  }

  .fa-tags {
    font-size: 12px;
    font-weight: normal;
    padding-right: 0.15rem;
  }
}
.dn {
  display: none;
}

.td-main .td-toc {
  height: auto;
  position: relative;
  top: 0;
  padding-left: 0;
  padding-right: 0;
  overflow: visible;

  #TableOfContents {
    position: relative;
    margin-top: 40px;
    z-index: 9;
    background-color: #fff;
    width: 190px;
    padding: 15px;
  }

  .fix {
    position: fixed !important;
    top: 26px;
    z-index: 99;
    box-shadow: 0px 0px 8px 0px rgba(198, 204, 222, 0.3);

  }
}

.bilibili-container {
  position: relative;
  width: 100%;
  height: 0;
  padding-bottom: 57%;
  margin: 3% auto;
  text-align: center;

  iframe {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
  }
}
