.td-docs {
  .card-wrapper {

    padding-bottom: 1em;
    padding-top: 1em;
    &:nth-of-type(1){
      padding-top: 1.5em;
    }
    .item-wrapper{
      display: flex;
      flex-wrap: wrap;
      justify-content: flex-start;
    }
    .item {
      width: 31.33%;
      margin: 0 1% 24px;


      &:hover {
        box-shadow: 0 0 8px #cccccc5e;
      }
    }

    .btn {
      background-color: #eee;
      background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #fcfcfc), to(#eee));
      background-image: linear-gradient(to bottom, #fcfcfc 0, #eee 100%);
      background-repeat: no-repeat;
      border: 1px solid #d5d5d5;
      border-radius: 4px;
      font-size: 16px;
      height: 30px;
      font-weight: 800;

      &:hover {
        text-decoration: none;
        background-color: #ddd;
        background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #eee), to(#ddd));
        background-image: linear-gradient(to bottom, #eee 0, #ddd 100%);
        border-color: #ccc;
      }
    }

    .btn-sm {
      padding: 0 0.5rem;
    }

    .btn-group.show .dropdown-toggle {
      box-shadow: none;
    }

    .btn:not(:disabled):not(.disabled):active:focus, .btn.active:not(:disabled):not(.disabled):focus {
      box-shadow: none;
    }

    .btn:focus, .btn.focus {
      outline: 0;
      box-shadow: none;
    }

      .card-body{
          padding-bottom: 50px;
          position: relative;
      }
    .doc-box {
        padding: 0 1.25rem;
      display: flex;
      justify-content: space-between;
        width:100%;
        position: absolute;
        bottom: 20px;
        left: 0;
    }
      .dropdown-menu{
          min-width: 6rem;
          width: 100%;
      }
  }

  .title-box {
    display: flex;
    //justify-content: center;
    align-items: center;
    padding-bottom: 10px;

    .card-title {
      margin: 0;
      font-size: 22px;
      color: #000;
      padding: 0 0 0 14px;
    }

    .icon {
      width: 40px;
      height: 40px;
      line-height: 40px;
      text-align: center;
      background-color: #eff0f3;
      color: #0091ff;
      border-radius: 50%;
      font-weight: 600;
      font-size: 26px;
    }
  }


}

.deco-title {
  width: 100%;
  border-bottom: none;
  padding:0 1%;
  &:before{
    content: "";
    display: block;
    width: 50px;
    height: 3px;
    background-color: #0091ff;
    margin-bottom: 8px;
  }
}
.desc-text{
  padding:0 1%;
}
@media (max-width: 996px) {
  .td-docs {
    .card-wrapper {
      .item {
        width: 48%;
      }
    }
  }
}@media (max-width: 768px) {
  .td-docs {
    .card-wrapper {
      .item {
        width: 98%;
      }
    }
  }
}
