.users-wrapper {
  text-align: center;
  p{
    padding: 15px 0 20px;
  }
  .img-wrapper {
    overflow: hidden;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    .link {
      width: 140px;
      margin: 20px 10px;
      height: 60px;
      border: 1px solid #eaecef;
      border-radius: 4px;
      box-shadow: #f8f9fa 0px 1px 2px 0px;

      display: flex;
      justify-content: center;
      align-items: center;
    }

    img {
      max-height: 94%;
      max-width: 94%;
      transition: opacity 0.5s;

      //&:hover {
      //  opacity: 1;
      //}
    }
  }

}