.td-taxonomy {
  .tags-list {
    li {
      margin-bottom: 0.45rem;
    }

    a {
      color: #2c3e50;

      &:hover {
        color: #3176d9;
      }
    }
  }

}

.tags-wrapper {
  margin-top: 4em;

  .post-meta {
    padding: 12px 0 14px;
    color: #999;
  }

  .tags-box {
    overflow: hidden;

    li {
      border-bottom: 1px dashed #dee2e6;
      line-height: 22px;
      padding: 10px 40px 10px 0;
      position: relative;
      a {
        padding: 0;
        color: #999;
        word-break: break-word;

        &:hover {
          color: #72A1E5;
        }
      }

    }

    .count {
      width: 30px;
      height: 22px;
      background-color: #4f9be8;
      line-height: 22px;
      color: #fff;
      font-size: 13px;
      text-align: center;
      border-radius: 12px;
      position: absolute;
      right:10px;
      bottom: 10px;
    }
  }

}

