.td-tags {
  .tags-list {
    li {
      margin-bottom: 0.45rem;
    }

    a {
      color: #2c3e50;
      &:hover{
        color: #3176d9;
      }
    }
  }

}

#all-tags{
  overflow: hidden;

  li{
    color:red;
    float: left;
    border: 1px solid #dee2e6;
    padding: 0 4px;
    border-radius: 4px;
    margin: 5px 8px 0 0;
    a{
      //line-height: 1.2;
      padding: 0;
      color: #999;
      word-break: break-all;
      &:hover{
        color: #72A1E5;
      }
    }
    &:hover{
      border-color: #72A1E5;
    }

  }
}
