// home page

.td-home {
  .flex-wrapper {
    display: flex;
    word-break: break-word;
  }

  .section-head {
    font-family: Lato, sans-serif;
    text-shadow: 4px 6px 0 rgba(0, 0, 0, .07);
    font-weight: 600;
    line-height: 1.25;
    border: none;
    margin-bottom: 1rem;

    &:before {
      content: "";
      display: block;
      width: 50px;
      height: 3px;
      background-color: #0091ff;
      margin: 0 auto 8px;
    }
  }

  .home-card-feature-td {
    padding: 20px 0 20px 40px;
    position: relative;
    text-align: left;
  }

  .home-card-feature-img {
    position: absolute;
    left: 10px;
    height: 20px;
    margin-right: 10px;
    vertical-align: text-top;
  }

  p {
    margin: 1em 0;
    line-height: 1.7;

  }

  .live-demo-wrapper {
    .demo-link {
      width: 160px;
      box-shadow: 0 15px 40px -10px rgba(0, 0, 0, 0.3), 0 18px 36px -18px rgba(0, 0, 0, 0.33);
    }

    .demo-line {
      width: 80%;
      max-width: 700px;
      margin: 0 auto;
      height: 1px;
      background: -webkit-linear-gradient(left, #fff -4%, #25334c 50%, #fff 100%);
    }
  }


  /*Events & News*/
  .home-card-news-item {
    padding: 10px;
    width: 50%;
    box-sizing: border-box;
    float: left;
    text-align: left;
    word-break: break-all;
  }

  .home-card-news-item:before {
    content: "";
    width: 7px;
    height: 7px;
    margin-right: 15px;
    margin-top: 7px;
    display: block;
    float: left;
    background-color: #0091ff;
  }

  .home-card-news-item > div, .home-card-news-item > h4 {
    display: inline;
    margin-right: 10px;
  }

  .mb10 {
    margin-bottom: 10px;
  }

  .mt0 {
    margin-top: 0;
  }

  .sm {
    font-size: 13px;
  }

  .clear:after {
    display: table;
    content: "";
    clear: both;
  }

  #overview.bg-box {
    background-color: #f7f7f9;
    padding: 5em 8px;
  }

  #overview {
    padding-bottom: 3em;
    padding-top: 5em;
  }


  .feature-wrapper {
    padding-right: 0 !important;
    padding-left: 0 !important;
  }

  .feature {
    height: 440px;

    .section-head {
      padding-bottom: 1.1em;
      padding-top: 1em;
    }
  }

  .home-li {
    width: 19%;
    height: 240px;
    transition: all 0.2s;
    background-color: #f7f7f9;
    padding: 1em 1em 20px;
    margin-right: 0.5%;
    border: 1px solid #f6f8fa;
    border-top: 3px solid #2c3e50;
    overflow: hidden;

    .pic {
      //display: block;
      width: 60px;
      margin: 1em auto;

      -webkit-filter: grayscale(100%);
      -moz-filter: grayscale(100%);
      -ms-filter: grayscale(100%);
      -o-filter: grayscale(100%);

      filter: grayscale(100%);

      filter: gray;
    }

    .line {
      display: block;
      font-size: 0;
      width: 25%;
      margin: 28px auto 10px;
      height: 1px;
      border-top: 1px solid #2c3e50;
      transition: all 0.3s;
    }

    .box {
      opacity: 0;
      padding-left: 0.5em;
      text-align: left;

      p {
        font-size: 1em !important;
        margin: 0 0 10px;
        line-height: 1.2;

        &:before {
          content: '•';
          color: #0091ff;
          font-weight: 600;
          margin-right: 5px;
        }

        &:last-child {
          margin: 0;
        }
      }
    }

    &:hover {
      text-align: left;
      border-bottom: 1px solid #0091ff;
      border-top: 4px solid #0091ff;

      width: 26%;
      height: auto;
      margin-top: -2em;
      box-shadow: 0 0 8px #ffffffcf;
      box-shadow: 3px 6px 8px #ffffffcf;

      .line {
        width: 80%;
        margin: 18px 0 10px;
      }

      .pic {
        filter: grayscale(0%);
        filter: none;
        margin: 0;

      }

      .box {
        opacity: 1;
        transition: opacity 1.5s;

      }
    }
  }

  .event {
    .flex-wrapper {
      flex-wrap: wrap;
    }

    .time {
      color: rgb(153, 153, 153);
      font-size: 13px !important;
    }

    .home-event-li {
      padding: 1em;
      text-align: left;
      width: 48%;
      margin: 2% 2% 0 0;
      background-color: #fff;
      border: 1px solid #f6f8fa;
      transition: all 0.3s;
      box-shadow: 0 0px 0px -10px rgba(0, 0, 0, 0.3), 0 18px 36px -28px rgba(0, 0, 0, 0.33);

      &:hover {
        transform: translateY(-4px);
        box-shadow: rgb(17, 174, 255) 0px 4px 0px, rgba(0, 0, 0, 0.08) 0px 4px 8px;
        border-bottom-right-radius: 0.8rem;
        border-top-left-radius: 0.7rem;
      }
    }
  }


  @media (max-width: 768px) {
    .feature {
      height: auto;

      .section-head {
        padding-bottom: 0;
        padding-top: 0;
      }
    }
    .flex-wrapper {
      flex-wrap: wrap;
    }
    .home-li {
      width: 49.2%;
      height: auto;

      &:hover {
        width: 49.2%;
        margin: 0em auto;

        .box {
          text-align: left;
        }
      }

      .line {
        width: 40%;
        margin: 18px auto 10px;
      }

      .pic {
        filter: grayscale(0%);
        filter: none;
        margin: 1em auto;

      }

      .box {
        text-align: center;
        //display: block;
        opacity: 1;
        transition: opacity 1.5s;
      }
    }

    //event
    .event {
      .home-event-li {
        width: 100%;
        margin: 10px 0 0;
        border: 1px solid #f6f8fa;
      }
    }

  }

  //animateArrow
  .td-overlay__inner {
    .icon-arrow {
      position: absolute;
      left: 50%;
      bottom: -66px;
      animation: animateArrow 8s cubic-bezier(.785, .135, .15, .86) infinite;
    }
  }

  //swiper

  .arch-swiper-container {
    img {
      height: 100%;
      width: 100%;
      max-width: 1200px;
    }
  }
  .swiper-lazy-preloader{
    opacity: 0.14!important;
    width: 14px!important;
    height: 14px!important;
    margin-left: -7px!important;
    margin-top: -7px!important;
    border-width: 1px!important;
  }

  .user-swiper-container-wrapper {
    position: relative;

    .user-swiper-container {
      height: 320px;

      .swiper-slide {
        width: 120px;
        margin-right: 20px;
        height: 60px;
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center;
        border: 1px solid #d9e0f0;

        a {
          width: 100%;
          height: 100%;
          display: flex;
          justify-content: center;
          align-items: center;
        }

        img {
          max-height: 90%;
          max-width: 90%;
          opacity: 0.4;
          transition: opacity 0.5s;

          &:hover {
            opacity: 1;
          }
        }


      }
    }

    .user-swiper-button-next {
      &:focus {
        outline: none;
      }
    }

    .user-swiper-button-prev {
      &:focus {
        outline: none;
      }
    }
  }


  .td-box--2, .td-box--3 {
    color: #fff;
    background-color: #151f35
  }


  @media (max-width: 768px) {
    //users swiper
    .user-swiper-container-wrapper {
      position: relative;

      .user-swiper-container {
        height: 240px;

        .swiper-slide {
          height: 40px;

          img {
            opacity: 1;
          }
        }
      }

      .user-swiper-button-next {
        right: -30px;
        left: auto;
      }

      .user-swiper-button-prev {
        left: -30px;
        right: auto;
      }
    }
  }
}


@keyframes animateArrow {
  0% {
    -webkit-transform: translate3d(-50%, 0, 0);
    -moz-transform: translate3d(-50%, 0, 0);
    -ms-transform: translate3d(-50%, 0, 0);
    -o-transform: translate3d(-50%, 0, 0);
    transform: translate3d(-50%, 0, 0)
  }

  5% {
    -webkit-transform: translate3d(-50%, 10%, 0);
    -moz-transform: translate3d(-50%, 10%, 0);
    -ms-transform: translate3d(-50%, 10%, 0);
    -o-transform: translate3d(-50%, 10%, 0);
    transform: translate3d(-50%, 10%, 0)
  }

  10% {
    -webkit-transform: translate3d(-50%, -10%, 0);
    -moz-transform: translate3d(-50%, -10%, 0);
    -ms-transform: translate3d(-50%, -10%, 0);
    -o-transform: translate3d(-50%, -10%, 0);
    transform: translate3d(-50%, -10%, 0)
  }

  15% {
    -webkit-transform: translate3d(-50%, 10%, 0);
    -moz-transform: translate3d(-50%, 10%, 0);
    -ms-transform: translate3d(-50%, 10%, 0);
    -o-transform: translate3d(-50%, 10%, 0);
    transform: translate3d(-50%, 10%, 0)
  }

  20% {
    -webkit-transform: translate3d(-50%, -10%, 0);
    -moz-transform: translate3d(-50%, -10%, 0);
    -ms-transform: translate3d(-50%, -10%, 0);
    -o-transform: translate3d(-50%, -10%, 0);
    transform: translate3d(-50%, -10%, 0)
  }

  25% {
    -webkit-transform: translate3d(-50%, 10%, 0);
    -moz-transform: translate3d(-50%, 10%, 0);
    -ms-transform: translate3d(-50%, 10%, 0);
    -o-transform: translate3d(-50%, 10%, 0);
    transform: translate3d(-50%, 10%, 0)
  }

  30% {
    -webkit-transform: translate3d(-50%, 0, 0);
    -moz-transform: translate3d(-50%, 0, 0);
    -ms-transform: translate3d(-50%, 0, 0);
    -o-transform: translate3d(-50%, 0, 0);
    transform: translate3d(-50%, 0, 0)
  }

  100% {
    -webkit-transform: translate3d(-50%, 0, 0);
    -moz-transform: translate3d(-50%, 0, 0);
    -ms-transform: translate3d(-50%, 0, 0);
    -o-transform: translate3d(-50%, 0, 0);
    transform: translate3d(-50%, 0, 0)
  }
}
