.project-doc {

  .td-sidebar {
    font-weight: 300;
    padding-top: 5.5rem;
    padding-right: 5px;
    height: 100vh;
    overflow-y: scroll;
    position: sticky;
    position: -webkit-sticky;
    top: 0px;
    h6, div {
      padding-top: 0.2rem;
      margin-bottom: 0.6rem;
      color: #495057;
      font-weight: 300;
    }

    ul {
      padding-left: 0;

      a {
        color: #495057;

        &:hover {
          color: #72A1E5;
        }

        &.active {
          font-weight: 600;
        }
      }
    }

    li li {
      margin-left: 0.8rem;
      line-height: 1.1 !important;
      padding-bottom: 0.6em;

      &:last-child {
        padding-bottom: 0em;

      }
    }

    li {
      list-style: none;
      display: block;
    }
  }

  .td-main .td-toc .fix {
    box-shadow: none;
  }

}

@media (max-width: 768px) {
  .project-doc {
    .td-sidebar {
      display: none;
    }
  }
}