.project-doc {
  .td-content {
    #overview, #community {
       padding: 0;
       text-align: left;
       margin-bottom: 1rem;
    }
  }

  .td-sidebar {
    font-weight: 300;
    padding-top: 5.5rem;
    padding-right: 5px;
    height: 100vh;
    overflow-y: scroll;
    position: sticky;
    position: -webkit-sticky;
    top: 0px;

    &::-webkit-scrollbar {
      width: 6px;
    }

    &::-webkit-scrollbar-thumb {
      background-color: #999 !important;
      border-radius: 5px;
    }

    h6, div {
      padding-top: 0.2rem;
      margin-bottom: 0.6rem;
      color: #495057;
      font-weight: 300;
    }

    h5 {
      padding-top: 0;
      font-weight: 350;
      font-size: 16px;
    }

    ul {
      padding-left: 0;

      a {
        color: #495057;

        &:hover {
          color: #72A1E5;
        }

        &.active {
          font-weight: 600;
        }
      }
    }

    li li {
      margin-left: 0.8rem;
      line-height: 1.1 !important;
      padding-bottom: 0.6em;

      &:last-child {
        padding-bottom: 0em;

      }
    }

    li {
      list-style: none;
      display: block;
    }
  }

  .td-main .td-toc {
    .fix {
      box-shadow: none;
    }

    #TableOfContents {
      width: auto;
    }
  }

  .commit-id {
    padding-top: 0.5rem !important;
    border-top: 1px solid #cccccca1;
    word-break: break-all;
    font-size: 13px;
  }


}

@media (max-width: 768px) {
  .project-doc {
    .td-sidebar {
      display: none;
    }
  }
}
