@keyframes eventFadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes eventFadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.sky-event-popup {
  display: none;
  animation: eventFadein 0.5s linear;
  box-shadow: 0 0 20px -12px #626365;
  height: 180px;
  position: fixed;
  right: 0;
  bottom: 0;
  overflow: auto;
  z-index: 1100;
  outline: 0;
  width:330px;
  max-width: 100%;
  .sky-pop-modal {
    width: 100%;
    height: 100%;
    position: relative;
    outline: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    background-color: #fff;
    display: flex;

    .fa-window-close {
      position: absolute;
      top: 12px;
      right: 12px;
      font-size: 14px;
      cursor: pointer;
      z-index: 1100;
      color: #c9c9c9;
      transition: color 0.3s;
      z-index: 99;
      &:hover {
        color: #bcbcbc;
        &:hover {
          color: #8797ac;
        }
      }
    }
  }
  .pic {
    border: none;
  }
  .content-box{
    padding: 18px 20px 0;
    box-sizing: border-box;
  }
  .title {
    font-size: 14px;
    margin: 13px 0;
    padding:0;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  .content-text {
    margin: 5px 0;
    font-size: 12px;
    color: #999;
    line-height: 20px;
    height: 60px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    a {
      color: #8e8989;

      &:hover {
        text-decoration: underline;
      }
    }
  }
  .modal-btn {
    font-size: 14px;
    padding: 0 20px;
    height: 28px;
    color: #fff;
    background-image: linear-gradient(to right, #17b6c1, #136af4);
    border-radius: 14px;
    border-radius: 2px;
    display: inline-block;
    line-height: 28px;
    text-align: center;
    margin: 11px 20px 0 0px;
    &:hover {
      background-image: linear-gradient(
                      to right,
                      darken(#17b6c1, 1.5%),
                      darken(#136af4, 1.5%)
      );
    }
  }
}