.project-doc {
  $blue: #3176d9;

  .animate-menu-push {
    left: 0;
    position: relative;
    transition: all 0.3s ease;
  }

  .animate-menu-push.animate-menu-push-right {
    left: 200px;
  }

  .animate-menu-push.animate-menu-push-left {
    left: -200px;
  }

  .animate-menu {
    position: fixed;
    top: 0;
    width: 200px;
    height: 100%;
    transition: all 0.3s ease;
  }

  .animate-menu-left {
    left: -200px;
  }

  .animate-menu-left.animate-menu-open {
    left: 0;
  }

  .animate-menu-right {
    right: -200px;
  }

  .animate-menu-right.animate-menu-open {
    right: 0;
  }

  .sidebar-menu {
    list-style: none;
    margin: 0;
    padding: 0;
    background-color: transparent;
  }

  .sidebar-menu > li {
    position: relative;
    margin: 0;
    padding: 0;
  }

  .sidebar-menu > li > a {
    padding: 12px 5px 12px 5px;
    border-left: 3px solid transparent;
    color: #2c3e50;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    transition: font-weight 0.15s;
  }

  .sidebar-menu > li > a > .iconfont {
    width: 20px;
  }

  .sidebar-menu > li:hover > a, .sidebar-menu > li.active > a {
    color: $blue;
    background: #ffffff;
    border-left-color: $blue;
    font-weight: 600;
  }

  .sidebar-menu > li .label,
  .sidebar-menu > li .badge {
    margin-top: 3px;
    margin-right: 5px;
  }

  .sidebar-menu li.sidebar-header {
    padding: 10px 25px 10px 15px;
    font-size: 12px;
    color: #4b646f;
    background: #1a2226;
  }

  .sidebar-menu li > a > .icon-arrow-right {
    width: auto;
    height: auto;
    padding: 0;
  }

  .sidebar-menu li.active > a > .icon-arrow-right {
    transform: rotate(90deg);
    color: #5c9af3;
  }

  .sidebar-menu li.active > .sidebar-submenu {
    display: block;
  }

  .sidebar-menu a {
    color: #2c3e50;
    text-decoration: none;
  }

  .sidebar-menu .sidebar-submenu {
    display: none;
    list-style: none;
    padding-left: 5px;
    margin: 0 1px;
    background: #f8f9fa;
  }

  .sidebar-menu .sidebar-submenu .sidebar-submenu {
    padding-left: 20px;
  }

  .sidebar-menu .sidebar-submenu > li > a {
    padding: 8px 5px;
    font-size: 16px;
    color: #2c3e50;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
  }

  .sidebar-menu .sidebar-submenu > li > a > .iconfont {
    width: 20px;
    transition: transform 0.2s;
  }

  .sidebar-menu .sidebar-submenu > li > a > .icon-arrow-right {
    width: auto;
  }

  .sidebar-menu .sidebar-submenu > li.active > a, .sidebar-menu .sidebar-submenu > li > a:hover {
    color: $blue;
  }

  .iconfont.pull-right {
    margin-left: .3em;
  }

  .pull-right {
    float: right;
  }
  .icon-arrow-right{
    color: #999;
  }
  .iconfont {
    font-weight: 100;
  }

}

