<div class="team-wrapper">
    <h2>
        Contributors
        <span class="total">{{.Site.Data.team.totalCount }}</span>
    </h2>
    <p>SkyWalking have hundreds of contributors, you could find them in our repositories' contribution list.
    </p>
    <div id="contributors-wrapper">
        {{ range .Site.Data.team.projects }}

        <div>
            {{range $index, $element := .list}}
            {{$name := .name }}
            {{$id := replace .name " " "" }}

            <div class="card" data-repo="{{.repo}}">
                <div class="card-header" id="{{$id}}">
                    <div type="span" data-toggle="collapse" data-target="#{{$id}}{{$index}}" aria-expanded="false"
                         aria-controls="{{$id}}{{$index}}">
                        <a class="name" target="_blank"
                           href="https://github.com/{{.user}}/{{.repo}}/graphs/contributors">
                            {{if eq $name "SkyWalking"}}
                            SkyWalking main repository
                            {{else}}
                            {{.name}}
                            {{end}}
                        </a>
                    </div>
                </div>

                <div id="{{$id}}{{$index}}" class='collapse {{ cond (eq $name "SkyWalking") "show" "" }}'
                     aria-labelledby="{{$id}}"
                     data-parent="#contributors-wrapper">
                    <div class="card-body limit">
                        <ul class="list-style-none d-flex flex-wrap mb-n2">
                            {{range $index, $element := .contributors}}
                            <li class="mb-2 mr-2" data-src="{{.avatar_url}}?s=64&v=4">
                                {{if .login}}
                                <a href="{{.html_url}}" target="_blank">
                                    <i class="fab fa-github"></i>
                                    {{.login }}
                                </a>
                                {{else}}
                                <a href="javascript:;">
                                    {{.name }}
                                </a>
                                {{end}}
                            </li>
                            {{end}}

                            {{if eq $name "SkyWalking"}}
                            <li class="more d-block">
                                {{else}}
                            <li class="more">
                                {{end}}
                                <i class="fa fa-angle-up fa-angle-down "></i>
                            </li>


                        </ul>
                    </div>
                </div>
            </div>

            {{end}}
        </div>
        {{end}}
    </div>


</div>


