<div>
    <h2 class="page-title">
        Contributor
        <span class="current-contributor"></span>
    </h2>

    <div class="head-wrapper">
        <div class="title">Project</div>
        <div class="title">Contributions</div>
        <div class="title">Ranking</div>
    </div>
    <div class="contributors-wrapper">
        {{range .Site.Data.team.projects}}
        {{range $index, $element := .list}}
        {{$name := .name }}
        {{$id := .repo }}
        {{if .user}}
        <div class="item-wrapper">
            <div class="item" data-name="{{.name}}" data-icon="{{.icon}}">
                <div class="item-text">
                    {{if .icon}}
                    <img data-nolightbox="true" width="36" height="36" src="/images/project/{{.icon}}.svg" alt="">
                    {{end}}
                    <span class="name">
                    {{.name}}
                    </span>
                </div>
            </div>

            <div id="{{$id}}" class="item-contributors">
                <div class="d-flex">
                    {{range $index, $element := .contributors}}
                    {{$ranking := add $index 1 }}
                    {{$lowerCaseLogin := lower .login }}

                    <span class="{{.login}} {{$lowerCaseLogin}} dn">
                        {{if eq .type "Anonymous"}}
                        <a>
                              <i class="iconfont icon-github"></i>
                              {{.login}}
                        </a>
                        {{else}}
                        <a class="link" href="{{.html_url}}" target="_blank">
                              <i class="iconfont icon-github"></i>
                              {{.login}}
                        </a>
                        {{end}}
                    </span>
                    <div class="{{.login}} {{$lowerCaseLogin}}">{{.contributions}}</div>
                    <div class="{{.login}} {{$lowerCaseLogin}}">{{$ranking}}</div>
                    {{end}}
                </div>
            </div>
        </div>
        {{end}}
        {{end}}
        {{end}}
    </div>
    <div class="search-tips">Loading...</div>
</div>
