{{- /* Project-level contributors (on /team).
       JS in partials/script-team.html relies on:
       .contributors-wrapper .item[data-name][data-icon] + its NEXT sibling (.hide),
       the .modal-* elements, #team-contributor-input and .team-contributor-search. */ -}}
<section class="team-contrib">
  <div class="team-contrib-head">
    <h2 id="contributors">Contributors <span class="total">{{ .Site.Data.team.totalCount }}</span></h2>
    <div class="team-search">
      <input type="text" id="team-contributor-input" placeholder="Search a GitHub handle…" aria-label="Search contributor">
      <button class="team-contributor-search sky-btn primary" type="button">Search</button>
    </div>
  </div>

  <div class="contributors-wrapper team-contrib-grid">
    {{ range .Site.Data.team.projects }}
    <div class="item-wrapper">
      {{ range $index, $element := .list }}
      {{ if .user }}
      <div class="item" data-name="{{ .name }}" data-icon="{{ .icon }}">
        <div class="item-text">
          {{ if .icon }}<img data-nolightbox="true" width="32" height="32" src="/images/project/{{ .icon }}.svg" alt="">{{ end }}
          <span class="name">{{ .name }}</span>
        </div>
        <div class="item-meta">
          <span class="total">{{ .contributorCount }}</span>
          <i class="iconfont icon-arrow-right"></i>
        </div>
      </div>

      <div id="{{ .repo }}" class="hide">
        <ul class="contrib-people">
          {{ range $index, $element := .contributors }}
          <li>
            {{ if eq .type "Anonymous" }}
            <a><i class="iconfont icon-github"></i>{{ .login }}</a>
            {{ else }}
            <a class="link" href="{{ .html_url }}" target="_blank" rel="noopener"><i class="iconfont icon-github"></i>{{ .login }}</a>
            {{ end }}
          </li>
          {{ end }}
        </ul>
      </div>
      {{ end }}
      {{ end }}
    </div>
    {{ end }}
  </div>
</section>

<div class="modal-wrapper">
  <div class="modal-inner">
    <div class="modal-head">
      <a href="javascript:;" class="btn-back">← Back to team</a>
      <div class="modal-name-box">
        <img data-nolightbox="true" class="modal-icon" width="28" height="28" src="" alt="">
        <span class="modal-name"></span>
      </div>
    </div>
    <div class="modal-detail scroll-bar"></div>
  </div>
</div>
