<div class="card-wrapper">
    <!--    SkyWalking OAP-->
    <div class="card item">
        <div class="card-body">
            <div class="title-box">
                <span class="icon">D</span>
                <h5 class="card-title">SkyWalking OAP Server</h5>
            </div>
            <p class="card-text">
                This image would start up SkyWalking OAP server only.
            </p>
            <div class="doc-box">
                <div class="btn-group">
                    <a class="btn btn-sm dropdown-toggle" href="https://hub.docker.com/r/apache/skywalking-oap-server">Docker Image</a>
                </div>
            </div>
            <p>
                Note, choose <b>*-es6 tags</b> when use ElasticSearch 6, <b>*-es7</b> tags when use ElasticSearch 7. 
            </p>
        </div>
    </div>
    <div class="card item">
        <div class="card-body">
            <div class="title-box">
                <span class="icon">D</span>
                <h5 class="card-title">SkyWalking UI Image</h5>
            </div>
            <p class="card-text">
                This image would start up SkyWalking UI only.
            </p>
            <div class="doc-box">
                <div class="btn-group">
                    <a class="btn btn-sm dropdown-toggle" href="https://hub.docker.com/r/apache/skywalking-oap-server">Docker Image</a>
                </div>
            </div>
        </div>
    </div>
</div>