<div class="card-wrapper">
    {{ range .Site.Data.dockerImages }}
    <div class="card item">
        <div class="card-body">
            <div class="title-box">
                <span class="icon">{{.icon}}</span>
                <h5 class="card-title">{{.name}}</h5>
            </div>
            <p class="card-text">{{.description}}</p>
            <div class="doc-box">
                <div class="btn-group">
                    <a class="btn btn-sm" href="{{.link}}">Docker Image</a>
                </div>
            </div>
        </div>
    </div>
    {{end}}
</div>

