<div class="download-wrapper">
    {{ range .Site.Data.releases }}
    <div class="card-wrapper">
        <h3 class="deco-title">{{.type}}</h3>
        {{if .description}}
        <p class="desc-text">{{.description}}</p>
        {{end}}

        <div class="item-wrapper">
            {{range .list}}
            {{$id := replace .name " " "" }}
            <div class="card item">
                <div class="card-body">
                    <div class="title-box">
                        <span class="icon">{{.icon}}</span>
                        <h5 class="card-title">{{.name}}</h5>
                        <a aria-hidden="true" href="#{{$id}}" id="{{$id}}" style="visibility: hidden;">
                            <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" width="24" height="24" viewBox="0 0 24 24"><path d="M0 0h24v24H0z" fill="none"></path><path d="M3.9 12c0-1.71 1.39-3.1 3.1-3.1h4V7H7c-2.76 0-5 2.24-5 5s2.24 5 5 5h4v-1.9H7c-1.71 0-3.1-1.39-3.1-3.1zM8 13h8v-2H8v2zm9-6h-4v1.9h4c1.71 0 3.1 1.39 3.1 3.1s-1.39 3.1-3.1 3.1h-4V17h4c2.76 0 5-2.24 5-5s-2.24-5-5-5z"></path></svg>
                        </a>
                        {{ $name := .name }}
                    </div>
                    <p class="card-text">{{.description}}</p>
                    <div class="doc-box">
                        <div class="flex-center">
                            <img src="/images/feather.png" alt="" width="14px">
                            <div class="btn-group">
                                <button type="button" class="btn btn-sm dropdown-toggle" data-toggle="dropdown"
                                        aria-haspopup="true" aria-expanded="false">
                                    Source
                                </button>
                                <div class="dropdown-menu scroll-bar">
                                    <div>
                                        {{ range .source }}
                                        <h6 class="dropdown-header">{{.version}}<span> | {{.date}}</span></h6>
                                        {{ $version := .version }}
                                        <div class="dropdown-item">
                                            {{range .downloadLink}}
                                            [<a href="{{.link}}" data-label="[{{$name}}]-[Source]-[{{$version}}]-[{{.name}}]" rel="noopener noreferrer" target="_blank">{{.name}}</a>]
                                            {{end}}
                                        </div>
                                        {{end}}
                                    </div>
                                </div>
                            </div>
                        </div>

                        {{ if .distribution}}
                        <div class="btn-group">
                            <button type="button" class="btn btn-sm dropdown-toggle" data-toggle="dropdown" aria-haspopup="true"
                                    aria-expanded="false">
                                Distribution
                            </button>
                            <div class="dropdown-menu scroll-bar">
                                <div>
                                    {{ range .distribution }}
                                    <h6 class="dropdown-header">{{.version}}<span> | {{.date}}</span></h6>
                                    {{ $version := .version }}
                                    <div class="dropdown-item">
                                        {{range .downloadLink}}
                                        [<a href="{{.link}}" data-label="[{{$name}}]-[Distribution]-[{{$version}}]-[{{.name}}]" rel="noopener noreferrer" target="_blank">{{.name}}</a>]
                                        {{end}}
                                    </div>
                                    {{end}}
                                </div>

                            </div>
                        </div>
                        {{end}}
                    </div>

                </div>
            </div>
            {{end}}
        </div>
    </div>
    {{end}}
</div>

