<div class="users-wrapper">
    <div class="contain">
        <h1 class="section-head">Our Users</h1>
        <p>
            Various companies and organizations use SkyWalking for research, production and commercial products.
        </p>
        <div class="img-wrapper">
            {{ range .Site.Data.users.users }}
            <a class="link" href="{{.website}}" rel="noopener noreferrer" target="_blank">
                <img data-src="{{.logo}}" data-nolightbox="true">
            </a>
            {{end}}
        </div>

        <p>Users are encouraged to add themselves to this page. Send a pull request to add your company or organization
            information <a target="_blank"
                           href="https://github.com/apache/skywalking-website/blob/master/data/users.yml">[here]</a>.
        </p>
    </div>
</div>
