<!doctype html>
<html lang="{{ .Site.Language.Lang }}" class="no-js _default">
  <head>
    {{ partial "head.html" . }}
    <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css">
    <script src="https://unpkg.com/swiper/swiper-bundle.min.js"> </script>
  </head>
  <body class="td-{{ .Kind }}">
    <header>
      {{ partial "navbar.html" . }}
    </header>
    <div class="container-fluid td-default td-outer">
      <main role="main" class="td-main">
        {{ block "main" . }}{{ end }}
      </main>
      {{ partial "footer.html" . }}
    </div>
    {{ partial "lightbox.html" . }}
    {{ partial "sidebar-skywalking.html" . }}
    {{ partialCached "scripts.html" . }}
    {{ partial "scripts-home.html" . }}
  </body>
</html>
