@font-face {
  font-family: "iconfont"; /* Project id 3007530 */
  src: url('./fonts.woff2') format('woff2')
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-arrow-up-right:before {
  content: "\e647";
}

.icon-guanbi:before {
  content: "\e6bc";
}

.icon-menu-doc:before {
  content: "\e633";
}

.icon-menu:before {
  content: "\e601";
}

.icon-link:before {
  content: "\e68b";
}

.icon-twitter:before {
  content: "\e749";
}

.icon-arrow-right:before {
  content: "\e687";
}

.icon-search:before {
  content: "\e612";
}

.icon-email:before {
  content: "\e724";
}

.icon-slack:before {
  content: "\e8c5";
}

.icon-tags:before {
  content: "\e826";
}

.icon-github:before {
  content: "\e64c";
}

